## The Football Pitch

We can model the football pitch as a Cartesian plane, where $x \in [0, ...,  100]$ e $y \in [0, ... ,100]$. Therefore, the two goals can be represented at coordinates [0,50] and [50, 0], respectively.

<br/>
<img src="figures/football_pitch.png" alt="drawing" width="600"/>

## Import Data

Data are stored in two files:
- **worldCup-final.json**, that contains the list of events occured during the last World Cup final between Croatia and France
- **players.json**, that contains the list of players.

In [18]:
import pandas as pd

players = pd.read_json("data/players.json")
match = pd.read_json("data/worldCup-final.json")
match.head()

,eventId,eventName,eventSec,id,matchId,matchPeriod,playerId,positions,subEventId,subEventName,tags,teamId
0,8,Pass,1.892339,263883958,2058017,1H,14943,"[{'y': 51, 'x': 50}]",85,Simple pass,[],Croatia
1,8,Pass,3.889375,263883959,2058017,1H,69968,"[{'y': 52, 'x': 39}, {'y': 74, 'x': 34}]",85,Simple pass,[{'id': 1801}],Croatia
2,8,Pass,6.140946,263883960,2058017,1H,8287,"[{'y': 74, 'x': 34}, {'y': 93, 'x': 30}]",85,Simple pass,[{'id': 1801}],Croatia
3,8,Pass,9.226570,263883963,2058017,1H,69409,"[{'y': 93, 'x': 30}, {'y': 65, 'x': 11}]",85,Simple pass,[{'id': 1801}],Croatia
4,8,Pass,12.658969,263883964,2058017,1H,135747,"[{'y': 65, 'x': 11}, {'y': 51, 'x': 64}]",84,Launch,[{'id': 1801}],Croatia

The documentation about the match events can be found [here](https://apidocs.wyscout.com/matches-wyid-events#5a-available-roles-for-referees).

From the documentation, we created the following 3 files:

- **events.csv** : contains all the possible events and sub-events
- **match_periods.csv**: contains all the possible match periods, e.g., "First Half Time"
- **tags.csv**: list of possible tags that could be attached to each event

In [13]:
events = pd.read_csv("data/events.csv")
match_periods = pd.read_csv("data/match_periods.csv")
tags = pd.read_csv("data/tags.csv")

In [16]:
events.head()

   event  subevent                          label
0      1        10                Duel – Air duel
1      1        11   Duel – Ground attacking duel
2      1        12   Duel – Ground defending duel
3      1        13  Duel – Ground loose ball duel
4      2        20                    Foul – Foul

In [17]:
tags.head()

    tag           label     description
0   101            Goal            Goal
1   102        own_goal        Own goal
2   301          assist          Assist
3   302         keyPass        Key pass
4  1901  counter_attack  Counter attack

In [15]:
tags.head()

    tag           label     description
0   101            Goal            Goal
1   102        own_goal        Own goal
2   301          assist          Assist
3   302         keyPass        Key pass
4  1901  counter_attack  Counter attack